<form  onsubmit={{action "login"}}>
  <img class="mb-4" src="images/logo-dark.png" alt="" height="57">
  <h1 class="h3 mb-3 fw-normal">Вход admin@admin.ru</h1>

  {{#each errors as |error|}}
    <div class="error-alert">{{error.detail}}</div>
  {{/each}}

  <div class="form-floating">

    {{input type="text" value=email placeholder="name@example.com" class="form-control" id="floatingInput"}}

  </div>
  <div class="form-floating">

    {{input type="password" placeholder="Пароль" value=password class="form-control" id="floatingPassword"}}

  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Запомнить
    </label>
  </div>

  <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" href="index.html">Войти</button>

  {{!-- <a class="w-100" href="index.html">Назад</a> --}}
  {{#link-to "index" class="w-100"}}
    Назад
  {{/link-to}}
</form>